@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Allerta+Stencil&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-image: url(img/fundo.png);
    background-position: 2vw;
    background-size: 147%; 
    background-repeat: no-repeat;
}



#navbar-header{
    padding-left: 8%;
    padding-right: 8%;
}
 

.nike{
    width: 25vh;
    cursor: pointer;
}
li{
    margin: 0 30px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

#container-main{
    margin-top: 150px;
}

h1{
    font-weight: 800;
    letter-spacing: .1em;
    font-size: 57px;
    margin-top: -70px;
}
h1 .vapor{
    color: #d5ff62;
    font-family: 'Alexandria', sans-serif;
}
p{
    margin-top: 35px;
    font-weight: 500;
    letter-spacing: .1em;
}
p .speed{
    color: #abe211;
    font-weight: 800;
}
#chuteira1{
    width: 700px;
    height: auto;
    transform: rotate(-25deg); 
    margin-top: -90px;
}
.btn{
    background-color: #d5ff62;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    font-weight: 800;
    margin-left: 140px;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover{
    background-color: #ccff3f;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.insta{
    width: 55px;
    height: 30px;
    cursor: pointer;
    padding-left: 25px;
    margin-top: 20px;
}
.x{
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin-top: 20px;
}
.face{
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-top: 20px;
}

/*carrosel de produtos*/

.produto{
    position: relative;     
    padding: 20px;
    margin-top: 30px;   
}

.produto-categoria{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.produto-container{
    padding: 5vh 10vw 5vh;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    gap: 20px;
}

.produto-container::-webkit-scrollbar{
    display: none;
}

.produto-card{
    flex: 0 0 auto;
    width: 250px;
    margin-right: 40px;
    background-color: #f1f0f0;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produto-card:hover{
    cursor: pointer;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 26px;
    padding: 8px;
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.produto-img{
    position: relative;
    width: 100%;
    height: 170px;
}

.produto-thumb{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tag-desconto{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    border-radius: 16px;
}

.produto-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: rgb(255, 255, 255);
    color: #000000;
}

.produto-info{
    width: 100%;
    padding-top: 10px;
}

.produto-marca{
    text-transform: uppercase;
}

.produto-desc{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.preco{
    font-weight: 900;
    font-size: 20px;
}

.preco-atual{
    margin-left: 20px;  
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 9;
    
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}


@media (max-width: 1800px) {
    body {
        background-size: 155%; 
    }
}
@media (max-width: 1630px) {
    body {
        background-size: 160%; 
    }
}
@media (max-width: 1545px) {
    body {
        background-size: 165%; 
    }
    .chuteira{
        width: 600px;
    }
}
@media(max-width:1470px){
    body{
        background-size: 180%;
        background-position: -5vw;
    }
    .chuteira{
        width: 550px;
    }
}
@media(max-width:1340px){
    body{
        background-size: 185%;
    }
}
@media(max-width:1265px){
    body{
        background-size: 190%;
        background-position: -4vw;
    }
}

@media (max-width: 1200px) {
    body{
        background-size: 205%;
        background-position: -5vw;
    }
    .nike{
        width: 20vh;
    }
    .chuteira{
        width: 450px;
    }
    h1{
        font-size: 48px;
    }
    .btn{
        width: 200px;
        height: 60px;
        border-radius: 25px;
        font-weight: 800;
        margin-left: 10px;
        margin-top: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .produto-categoria{
        font-size: 27px;
    }
    .produto-card{
        width: 220px;
    }
    .produto-marca{
        font-size: 28px;
    }
    .produto-desc{
        font-size: 14px;
    }
    
}
@media(max-width:991px){
    body{
        background-size: 0; 
    }
    .chuteira{
        width: 410px;
        margin-left: 50px;
        
    }
    #navbar-header{
        padding-left: 8%;
        padding-right: 8%;  
        background-color: #d5ff62;
    }
    .produto-categoria{
        margin: 30px 0 0 0;
    }

}
@media(max-width:767px){
    .chuteira{
        width: 350px;
    }
}
@media(max-width:610px){
    .produto-categoria{
        font-size: 27px;
    }
    .produto-card{
        width: 180px;
    }
    .produto-marca{
        font-size: 22px;
    }
    .produto-desc{
        font-size: 10px;
    }
}